@import "@/styles/variables.scss";

.header {
  display: grid;
  grid-template-areas: "category logo profile" "search logo settings";
  grid-template-columns: 2fr 7fr 2fr;
  align-content: space-between;
  gap: 0.7rem;
  height: 8rem;
  padding: 1.5rem 5rem;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: $lg-screen) {
  .header {
    padding: 1.5rem;
  }
}

@media (max-width: $md-screen) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo burgetBtn" "category category" "search search";
  }
}

@media (max-width: $sm-screen) {
  .header {
    padding: 1rem;
  }
}
