@import "@/styles/variables.scss";

.cart {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "title price" "products price";
  gap: 2rem;
  padding: 1.5rem 5rem;

  &__title {
    grid-area: title;
    margin-bottom: 1rem;
    font-size: $fs-xxl;
    font-weight: 500;
  }
}
