@import "@/styles/variables.scss";

.favoriteProducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  gap: 2rem;
  margin-top: 2rem;

  & > a {
    width: 100%;
  }

  & img {
    max-height: 200px;
  }
}

.notFound {
  display: inline-block;
  width: 100%;
  text-align: center;
}

@media (max-width: $lg-screen) {
  .favoriteProducts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: $md-screen) {
  .favoriteProducts {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    // & > a {
    //   width: 250px;
    // }
  }
}

@media (max-width: $sm-screen) {
  .favoriteProducts {
    align-items: flex-start;
    grid-template-columns: 1fr;
  }
}
