@import "@/styles/variables.scss";

.burgerMenu {
  &__openBtn {
    grid-area: burgetBtn;
    align-self: center;
    justify-self: end;
    border: none;
  }

  &__closeBtn {
    display: block;
    align-self: end;
    border: none;
    margin-left: auto;
  }

  &__btn {
    height: max-content;
    font-size: $fs-l;
  }

  &__settings {
    width: 100%;
    align-items: center;
  }

  &__drawerBody {
    background-color: $bg-color !important;
  }
}
