@import "@/styles/variables.scss";

.popularGoods {
  position: relative;
  padding: 1.5rem 5rem;
  overflow: hidden;

  &__swiper {
    overflow: visible;

    & > div {
      align-items: stretch;
      height: 680px;
    }
  }

  &__card {
    min-height: 100%;
  }
}

@media (max-width: $xl-screen) {
  .popularGoods {
    padding: 1.5rem 3rem;

    &__swiper > div {
      height: 620px;
    }
  }
}

@media (max-width: $lg-screen) {
  .popularGoods {
    padding: 1.5rem 3rem;

    &__swiper > div {
      height: 580px;
    }
  }
}

@media (max-width: $sm-screen) {
  .popularGoods {
    padding: 1.5rem 2rem;

    &__card {
      padding: none;
    }

    &__swiper > div {
      height: 520px;
    }
  }
}
