@import "@/styles/variables.scss";

.popularGoods {
  position: relative;
  padding: 1.5rem 5rem;
  overflow: hidden;

  &__swiper {
    overflow: visible;
  }

  &__card {
    min-height: 100%;
  }
}

@media (max-width: $xl-screen) {
  .popularGoods {
    padding: 1.5rem 3rem;
  }
}

@media (max-width: $lg-screen) {
  .popularGoods {
    padding: 1.5rem 3rem;
  }
}

@media (max-width: $sm-screen) {
  .popularGoods {
    padding: 1.5rem 2rem;

    &__card {
      padding: none;
    }
  }
}
