@import "@/styles/variables.scss";

.card {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  height: 600px;
  padding: 1rem;
  border: 1px solid transparent;

  transition: all $tr-time ease-in-out;
  transform: translateY(0);

  &:hover {
    border: 1px solid $gray;
    box-shadow: #a232f249 0px 13px 27px -5px, #a232f263 0px 8px 16px -8px;

    transform: translateY(-5px);

    & button {
      z-index: 100;
      opacity: 1;
    }
  }

  &__imageWrapper {
    position: relative;
  }

  &__image {
    max-height: 450px;
    object-fit: contain;
    object-position: center;
  }

  &__favorite,
  &__cart {
    z-index: -1;
    opacity: 0;
  }

  &__favorite {
    position: absolute !important;
    top: 0;
    right: 0;
    color: $accent-primary;
  }

  &__cart {
    position: absolute !important;
    bottom: 0;
    right: 0;
    text-transform: uppercase;

    &_primary {
      background-color: $violet;
    }

    &_secondary {
      background-color: $gray;
      color: $black;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto 1fr min-content;
    grid-template-areas: "category category" "title title" ". price";
    height: 100%;
  }

  &__category {
    grid-area: category;
    font-size: $fs-s;
    color: $text-color50;
  }

  &__title {
    grid-area: title;
    font-weight: 600;
  }

  &__price {
    grid-area: price;
    color: $accent-primary;
    font-size: $fs-l;
    font-weight: 600;
  }
}

@media (max-width: $xl-screen) {
  .card__image {
    max-height: 400px;
  }
}

@media (max-width: $lg-screen) {
  .card {
    height: 550px;

    &__image {
      max-height: 350px;
    }

    &__favorite,
    &__cart {
      z-index: 100;
      opacity: 1;
    }
  }
}

@media (max-width: $md-screen) {
  .card {
    border: 1px solid $gray;

    &__image {
      max-height: 350px;
    }
  }
}

@media (max-width: $sm-screen) {
  .card {
    height: 500px;
    padding: none;

    &__image {
      max-height: 300px;
    }
  }
}
