@import "@/styles/variables.scss";

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  min-width: 32px;
  min-height: 32px;
  padding: 0.3rem;
  font-size: $fs-l;
  text-transform: capitalize;
}
