@import "@/styles/normalize.scss";
@import "@/styles/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500&display=swap");

html,
body {
  color: $primary-dark;
  background: $primary-light;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: $primary-light;
  background: $primary-dark;
}
