@import "@/styles/normalize.scss";
@import "@/styles/variables.scss";
@import "@/styles/scrollbar.scss";

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500&display=swap");

:root {
  --text-color: #000c22;
  --text-color50: #000c2280;
  --bg-color: #ffffff;

  --accent-primary: #a332f2;
  --accent-secondary: #eee9dc;
}

[data-theme="dark"] {
  --text-color: #ffffff;
  --text-color50: #ffffff80;
  --bg-color: #000c22;

  --accent-primary: #a332f2;
  --accent-secondary: #eee9dc;
}

body {
  @include PrimaryText($fs-normal);
  background-color: $bg-color;
}

.main {
  flex-grow: 1;
  margin-top: 150px;
}

.notFound {
  text-align: center;
}
