@import "@/styles/variables.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.accent {
  font-size: 3rem;
  font-weight: 500;
  background-color: $accent-primary;
  color: $accent-secondary;
}
