@import "@/styles/variables.scss";

.searchPanel {
  grid-area: search;
  border-radius: 0px;
  border-bottom: 1px solid $accent-secondary !important;
  transition: all $tr-time ease-in-out;

  &:hover,
  &:focus-within {
    border-bottom: 1px solid $accent-primary !important;
  }
}

@media (max-width: $md-screen) {
  .searchPanel {
    justify-self: center;
    width: 280px;
  }
}
