@import "@/styles/variables.scss";

.logo {
  grid-area: logo;
  align-self: center;
  @include AccentText($fs-xxl, $accent-primary);
  text-transform: none;
}

@media (max-width: $lg-screen) {
  .logo {
    @include AccentText($fs-xl, $accent-primary);
  }
}

@media (max-width: $md-screen) {
  .logo {
    justify-self: start;
    @include AccentText($fs-l, $accent-primary);
  }
}
