@import "@/styles/variables.scss";

.brandFilter {
  padding: 6rem 7rem;

  &__list {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: inline-block;
    height: 1.8rem;
    cursor: pointer;
    transition: all $tr-time ease-in-out;

    &:hover {
      transform: scale(1.07);
    }

    &:active {
      transform: scale(1);
    }
  }

  &__logo {
    width: 5rem;
    object-fit: contain;
  }
}

@media (max-width: $lg-screen) {
  .brandFilter {
    padding: 4rem 2.5rem;
  }
}

@media (max-width: $sm-screen) {
  .brandFilter {
    padding: 1rem;
  }
}
